extends ../layout

block content
  h1 Galvanize Reads
  div.sidemenu
    div.bookCreate
  div.resultsHolder
    for book in books
        div.cover
          img(id="cover" src="#{book.bookImg}")
        div.info
          a(href="/books/#{book.id}" id="reftitle") #{book.title}
          p/       
          a(id="tryna" href="/authors/#{book.auth_id}") #{authors.authorFirst} #{authors.authorSecond}
          p#genre #{book.genre}
          p#description #{book.description}


              
            
      
