extends ../layout

block content
  h1 Galvanize Reads
  div.layout
    div.sidePiece
      a(href="/authors")
       img(id="addAuth" src="https://s3-us-west-2.amazonaws.com/testphotosnoobish/allauth.png")
      a(href="/authors/new")
       img(id="addAuth" src="https://s3-us-west-2.amazonaws.com/testphotosnoobish/Author.png")
      a(href="/books/new")
       img(id="addAuth" src="https://s3-us-west-2.amazonaws.com/testphotosnoobish/books.png")
      a(href="/books")
       img(id="addAuth" src="https://s3-us-west-2.amazonaws.com/testphotosnoobish/allbooks.png")
    div.resultsHolder
      for book in books
          div.cover
            img(id="cover" src="#{book.bookImg}")
          div.info
            a(href="/books/#{book.id}" id="reftitle") #{book.title}
            p/       
            a(id="tryna" href="/authors/#{book.auth_id}") #{authors.authorFirst} #{authors.authorSecond}
            p#genre #{book.genre}
            p#description #{book.description}


              
            
      
