extends ../layout

block content
    div.sidemenu
    div.resultsHolder
      div.bookHolder
        div.cover
          img(id="cover" src="#{books.bookImg}")
        div.info
          p#reftitle #{books.title} 
          p#genre #{books.genre} 
          p.authBio #{books.description}
    form(action="/books/#{books.id}/delete" method="POST")       
    button(type="submit") Delete
    
    form(action="/books/#{books.id}/edit" method="GET")
    button(type="submit") Edit
      //- 
      //- 
      //- extends ../layout
      //- 
      //- block content
      //-   h1 Galvanize Reads
      //-   div.sidemenu
      //-   div.resultsHolder
      //-     for book in books
      //-       div.bookHolder
      //-         div.cover
      //-           img(id="cover" src="#{book.bookImg}")
      //-         div.info
      //-           a(href="/books/#{book.id}" id="reftitle") #{book.title}
      //-           p/       
      //-           a(id="tryna" href="/authors/#{book.auth_id}") #{authors.authorFirst} #{authors.authorSecond}
      //-           p#genre #{book.genre}
      //-           p#description #{book.description}
      //- 
      //- 
      //-               
      //-             
      //-       
